.nav-pills .nav-link.active{
    color: var(--bs-nav-pills-link-active-bg);
    background-color: white;
}
#yuo  a.nav-link{
    background-color:var(--bs-nav-pills-link-active-bg) ;
    color: white;
}
.h{
    font-size: 5rem;
    margin-left:29%;
    color: red;
}
.hh{
    margin-left: 35%;
    font-size: 2rem;
    color: blue;
}
.pp{
    color:red;
    margin-top:27px;
    margin-bottom: 16px;
    font-size: 50px
}
.lm{
    font-size: 25px;
    margin-top: 40px
}
.last{
    display: flex
}
.text{
    margin-left: 50px;
}
.gh{
    color: red;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom:40px;
}
.fg{
    font-size: 25px;

}
h3{
    color: blue;
    margin-bottom: 20px;
}
.bottom{
    background-color: yellow;
    margin-top: 105px;
    height: 100px;
}

.Copyright{
    color:red;
    font-size: 10px;
    padding-bottom: 20px;
    text-align: right;
    padding-right: 10px;
    padding-top: 80px;
 }
@media screen and (max-width: 600px){
    h1.h {
        font-size: 3rem;
        color: red; 
        margin-left: 0%;
        
    }
    .hh{
        margin-left: 0%;
        font-size: 20px;
        color: blue;
    }
    header.d-flex.justify-content-center.py-3{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        justify-content: left !important;
    }
    .container{
        width: 400px;
    }
    hr{
        width: 400px;
    }
    .pp{
        color:red;
        margin-top:0px;
        margin-bottom: 0px;
        font-size: 30px
    }
    .lm{
        font-size: 18px;
        margin-top: 20px;
    }
    .last{
        display:contents;
    }

    .gh{
        color: red;
        margin-top: 20px;
        font-size: 30px;
        margin-bottom:25px;
    }
    .fg{
        font-size: 15px;
    
    }
    .text{
        margin-left: 0px;
    }
    h3{
        color: blue;
        margin-bottom: 20px;
    }
    .bottom{
        background-color: yellow;
        margin-top: 10px;
        height: 50px;
    }
    .Copyright{
        color:red;
        font-size: 10px;
        padding-bottom: 20px;
        text-align: right;
        padding-right: 10px;
        padding-top: 28px;
     }
}